<div class="content">
  <h2 class="t-1">
    Applied for the job successfully!
  </h2>
  <div class="dummy-positioning d-flex">
    <div class="success-icon">
      <div class="success-icon__tip"></div>
      <div class="success-icon__long"></div>
    </div>
  </div>
  <div class="p-1"> Employer will connect you within 2-3 days.</div>
  <a href="/jobstatus" class="mt-4 btn btn-primary">See Job Status</a>
</div>
<style>