<div class="wrapper">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="/employer">
                <span class="align-middle">Job Portal</span>
            </a>

            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="sidebar-header">
                    Pages
                </li>

                <li class="sidebar-item" >
                    <a class="sidebar-link" href="/employer">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item ">
                    <a class="sidebar-link" href="/employer/job">
                        <i class="align-middle" data-feather="award"></i> <span class="align-middle">Jobs</span>
                    </a>
                </li>

                <li class="sidebar-item ">
                    <a class="sidebar-link" href="/employer/jobrequests">
                        <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Job Requests</span>
                    </a>
                </li>
                <li class="sidebar-item ">
                    <a class="sidebar-link" href="/employer/approvedresumes">
                        <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Approved Resumes</span>
                    </a>
                </li>
                <li class="sidebar-item ">
            
                </li>
                <li class="sidebar-item ">
                    <a class="sidebar-link" href="/employer/rejectedresumes">
                        <i class="align-middle" data-feather="file-minus"></i> <span class="align-middle">Rejected Resumes</span>
                    </a>
                </li>
                <li class="sidebar-header">
                    Others
                </li>

                <li class="sidebar-item ">
                    <a class="sidebar-link" href="/employer/logout">
                        <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Logout</span>
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
               
            </a>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-align">
                    
                         <li class="nav-item dropdown">
                        <a class="nav-link d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                            <span class="text-dark">{{employer.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
