<div class="wrapper">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="/admin">
                <span class="align-middle">Job Hunter</span>
            </a>

            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="sidebar-header">
                    Pages
                </li>

                <li class="sidebar-item" >
                    <a class="sidebar-link" href="/admin">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item ">
                    <a class="sidebar-link" href="/admin/allemployers">
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Employers</span>
                    </a>
                </li>

                <li class="sidebar-item ">
                    <a class="sidebar-link" href="/admin/allusers">
                        <i class="align-middle" data-feather="award"></i> <span class="align-middle">Jobseekers</span>
                    </a>
                </li>


                <li class="sidebar-header">
                    Others
                </li>

                <li class="sidebar-item ">
                    <a class="sidebar-link" href="/admin/settings">
                        <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Settings</span>
                    </a>
                </li>
                <li class="sidebar-item ">
                    <a class="sidebar-link" href="/admin/logout">
                        <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Logout</span>
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            

            
                        <div class="list-group">

                         <li class="nav-item dropdown">
                        <a class="nav-link d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                            <span class="text-dark">Emily</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
